@model BarAndRestaurantMate.Models.ItemIndexModel


@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>


<div class="page-head">
    <h2>Items</h2>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Stock Order</a></li>
        <li class="active">View Only</li>
    </ol>
</div>
<div class="cl-mcont">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="block-flat">
                <div class="header">
                    <h3>Transfer Stock Order (Delete)</h3>
                </div>
                <div class="content">

                    @using (Html.BeginForm("EditDistributeToPoint", "Item", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.Hidden("BatchId", Model.BatchId)
                        @Html.Hidden("StoreId", Model.StoreId)

                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </div>

                        @Html.Partial("_PurchaseOrderItemsStoreItemsEdit")
                        
                    }

                </div>
            </div>
        </div>
    </div>

</div>
