@model List<HotelMateWeb.Dal.DataCore.TableItem>

<div>
    <table class="striped fixedlayout">
        <thead>
            <tr>
                <th width="65%">Item</th>
                <th width="15%">Qty</th>
                <th width="20%">Time</th>
            </tr>
        </thead>
        <tbody id="CasesTableBody1">
            @foreach (var rm in Model.ToList())
            {
                var strCol = ""; if (DateTime.Now.Subtract(rm.DateSold).Minutes > 30) { strCol = "#ff4980"; }

                <tr border="1" bgcolor="@strCol">
                    <td class="tth2">@rm.StockItem.StockItemName</td>
                    <td class="tth2">@rm.Qty</td>
                    <td class="tth2">@rm.DateSold.ToShortTimeString()</td>
                </tr>
            }

        </tbody>
    </table>


</div>



