
<div class="twelve columns">

    <div id="home-slider" class="bs flexslider">
        <ul class="slides">
            <li>
                <a href="#">
                    <img width="830" height="420" src="~/images/Rooms/1.jpg" class="attachment-slider_half wp-post-image" alt="Classic" /><h3>Classic</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <img width="830" height="420" src="~/images/Rooms/2.jpg" class="attachment-slider_half wp-post-image" alt="Standard" /><h3>Standard</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <img width="830" height="420" src="~/images/Rooms/3.jpg" class="attachment-slider_half wp-post-image" alt="Luxury" /><h3>Luxury</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <img width="830" height="420" src="~/images/Rooms/4.jpg" class="attachment-slider_half wp-post-image" alt="Business" /><h3>Business</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <img width="830" height="420" src="~/images/Rooms/5.jpg" class="attachment-slider_half wp-post-image" alt="Business" /><h3>Business</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <img width="830" height="420" src="~/images/Rooms/6.jpg" class="attachment-slider_half wp-post-image" alt="Business" /><h3>Business</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <img width="830" height="420" src="~/images/Rooms/7.jpg" class="attachment-slider_half wp-post-image" alt="Business" /><h3>Business</h3>
                </a>
            </li>
        </ul>
    </div>

</div>
