@model BarAndRestaurantMate.Models.GuestRoomAccountViewModel
<link href="~/css/Tiles.css" rel="stylesheet" />

@if (Model.CinemaList.Any())
{
<div class="wrap">

    @foreach (var m in Model.CinemaList)
    {
        
    <!-- Define all of the tiles: -->
    <a href="@Url.Action("ShowFilm", "Guest", new { id = m.Id })">
    <div class="box">
        <div class="boxInner">
            @{var val = m.Id.ToString() + ".jpg";}
            <img src="~/Videos/Films/@val" />
            <div class="titleBox">@m.MovieName</div>
        </div>
    </div></a>

    }
    
    </div>
}
else
{
    <p>There are no movie listings for this category.</p>
}
    
    



