@model BarAndRestaurantMate.Models.CinemaModel


<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script type='text/javascript'>

    $(function ()
    {
        var i = '@Model.Id';
        var path = '@Model.VideoPath';

        var videoPlayer = document.getElementById('video');
     

        videoPlayer.addEventListener('ended', function ()
        {  
            i++;
            this.pause();
            this.src = path + i.toString() + ".mp4";
            this.play();
        }, false);

       
    });

</script>

       <video id="video" style="margin:0px;" class="video-js" controls preload="auto" autoplay="autoplay" width="100%" height="425"
       poster="~/videos/Posters/@Model.PosterPath" data-setup="{}">
       <source src="@Model.FileName" type='video/mp4'>
       <source src="MY_VIDEO.webm" type='video/webm'>
       <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
      </p>
      </video>
