@model BarAndRestaurantMate.Models.HotelMenuModel



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-briefcase"></i> Add Expense</h4>
            </div>
            <div style="border:2px dotted red;">
                <p>I am here</p>
            </div>
            @*@Html.Partial("_BookSeat")*@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
