@model BarAndRestaurantMate.Models.ItemRawIndexModel


<div class="cl-mcont">
    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">
                </div>
                <div class="content">
                    <div class="table-responsive">
                        <table class="table no-border hover">
                            <thead class="no-border">
                                <tr>

                                    <th style="width:15%;"><strong>Name</strong></th>
                                    <th style="width:15%;"><strong>Qty (UNITS OR KG)</strong></th>
                                    <th style="width:70%;"><strong>Qty To Distribute (UNITS OR KG)</strong></th>

                            </thead>
                            <tbody class="no-border-y">
                                @foreach (var item in Model.POItem.PurchaseOrderItems.Where(x => x.Qty > 0).OrderBy(x => x.StockItem.StockItemName))
                                {
                                    <tr>
                                        <td>@item.StockItem.StockItemName</td>
                                        <td>@Html.TextBox("POItem_" + item.StockItem.Id.ToString(), item.Qty, new { @type = "number", @disabled = "disabled", @readonly = "readonly" })</td>
                                        <td>@Html.TextBox("StoreItem_" + item.StockItem.Id.ToString(), item.Qty, new { @type = "number", @min = 0, @max = item.Qty })</td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


