@model BarAndRestaurantMate.Models.HotelMenuModel

<link href="~/layerslider/css/layerslider.css" rel="stylesheet" />

<style>
    #layerslider * {
        font-family: Oswald;
    }

    #slider-wrapper {
        padding-bottom: 100px;
    }
</style>





<div id="slider-wrapper">
    <div id="layerslider" class="ls-wp-container" style="width:1280px;height:520px;max-width:1280px;">

        @foreach (var p in Model.Pictures.OrderByDescending(sp => sp.CreatedDate))
        {
            string caption = !String.IsNullOrEmpty(p.Caption) ? p.Caption : System.Configuration.ConfigurationManager.AppSettings["HotelName"].ToString() + "'s" + p.CreatedDate.DayOfWeek.ToString() + " Night";
        
            
            <div class="ls-slide" data-ls="transition2d:73;">
                <img src="~/Products/Gallery/@p.Filename" class="ls-bg" alt="Slide background" />
                    <h6 class="ls-l-1" style="top:50%;left:80%;durationin:500;delayin:600;fadein:false;rotatein:30;durationout:500;fadeout:false;slidedirection:fade;slideoutdirection:fade;scalein:0.1;scaleout:0.1;font-weight: 400; box-shadow: 0px 2px 8px -2px black;padding-top:5px;padding-right:20px;padding-bottom:5px;padding-left:20px;font-size:30px;color:#ffffff;background:#ff7700;border-radius:5px;white-space: nowrap;">@caption</h6>
                    <h6 class="ls-l-1" style="top:43%;left:80%;durationin:500;delayin:500;fadein:false;rotatein:-30;durationout:500;fadeout:false;slidedirection:fade;slideoutdirection:fade;scalein:0.1;scaleout:0.1;font-weight: 400; box-shadow: 0px 2px 8px -2px black;padding-top:5px;padding-right:20px;padding-bottom:5px;padding-left:20px;font-size:30px;color:#ffffff;background:#000000;border-radius:5px;white-space: nowrap;">@p.CreatedDate.ToShortDateString()</h6>
                </div>
        }

       
    </div>
</div>


<script src="~/layerslider/js/jquery.js" type="text/javascript"></script>
<script src="~/layerslider/js/greensock.js" type="text/javascript"></script>
<!-- LayerSlider script files -->
<script src="~/layerslider/js/layerslider.transitions.js" type="text/javascript"></script>
<script src="~/layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>



<script>
    jQuery("#layerslider").layerSlider({
        autoStart: false,
        skin: 'carousel',
        hoverPrevNext: false,
        navStartStop: false,
        showCircleTimer: false,
        thumbnailNavigation: 'always',
        skinsPath: '../layerslider/skins/'
    });
</script>


