@model BarAndRestaurantMate.Models.HotelMenuModel
<link href="~/css/TilesSmall.css" rel="stylesheet" />

<div class="row">
    <div class="twelve columns">
        @Html.Partial("_MenuCategories")
    </div>
</div>

<hr />

        <div id="menuItemsDiv">
            @Html.Partial("_MenuItemsCustomerNoAdd")
        </div>




