@model BarAndRestaurantMate.Models.BaseViewModel

@{
    ViewBag.Title = "Fireworks Display";
    Layout = "~/Views/Shared/_LayoutTelevision.cshtml";
}



@section scripts
{


    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>

    <script type="text/javascript">

        $(function () {

            // Proxy created on the fly
            var kitchen = $.connection.kitchenHub;

            // Declare a function on the kitchen hub so the server can invoke it
            kitchen.client.displayStatus = function () {
                getData();
            };

            // Start the connection
            $.connection.hub.start();
            getData();
        });

        function getData() {
            var $tbl = $('#tblkitchenInfo');
            $.ajax({
                url: '/home/GetTelevisionOrders',
                type: 'GET',
                datatype: 'html',
                success: function (data)
                {
                    if (data.length > 0)
                    {
                        $('#tblkitchenInfo').html('');
                        $('#tblkitchenInfo').html(data);
                    }
                }
            });
        }
    </script>

}



<div class="row">
    <div id="tblkitchenInfo">
        @Html.Partial("_TelevisionSlider")
    </div>
</div>

@section PaginationBox
{
    @Html.Partial("_Pagination")
}




