@model BarAndRestaurantMate.Models.GuestRoomAccountViewModel


@{
    ViewBag.Title = "Booking";
}

<div class="row">
    <div class="twelve columns">
        <p>Your account has not been activated. Please contact hotel helpdesk.</p>
    </div>
</div>

@section SideBarBox
{

}




