@model BarAndRestaurantMate.Models.CinemaModel

@{
    ViewBag.Title = "Booking";
    Layout = "~/Views/Shared/_LayoutOfla.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
        $(function ()
        {
            $("#Expander").click(function ()
            {
                $("#PlaylistDiv").toggle();
                $("#Expander").toggle();
                $("#Expander1").toggle();
            });

            $("#Expander1").click(function ()
            {
                $("#PlaylistDiv").toggle();
                $("#Expander").toggle();
                $("#Expander1").toggle();
            });

            $('#video').bind('contextmenu', function () { return false; });

        });

</script>

<h1 class="page-title ci-title">
    <span>@Model.MovieName</span> <span style="float:right; padding-left:5px;"><a class="btn btn-primary" style="color:white;" href="@Model.GoBackLink">Go Back</a></span>
</h1>
  
<div>
                    <div class="twelve columns">

                    <div id="MoviePlayer" style="height:450px; padding-bottom:5px; margin-bottom:5px;">
                        @Html.Partial("_MusicPlayerVodServer")
                    </div>

                    <div id="PlaylistDiv">
                        @Html.Partial("_NewMusicPlaylist")
                    </div>

                    <br />

                    <div style="padding-left:5px;">
                        <a href="#" id="Expander" style="cursor:pointer;"> <img src="~/images/minus_16.png" title="Hide Playlist" /></a>
                        <a href="#" id="Expander1" style="cursor: pointer; display: none;"> <img src="~/images/plus_16.png" title="Show Playlist" /></a>
                    </div>

                    </div>
</div>