@model BarAndRestaurantMate.Models.ReportViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>




<div class="page-head">
    <h2>BarMate</h2>
    <a style="float:right;" class="btn btn-success hbtn" href="@Url.Action("Index","Home")" id="todaySale">Go Back</a>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Reports</a></li>
        <li class="active">Cooked Food Matrix</li>
    </ol>
</div>
<div class="cl-mcont">
    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">
                    <h3>Cooked Food Matrix</h3>
                </div>
                <div class="content">
                @if (Model.FoodMatrixModels.Any())
                {
                    <div class="row">

                        <div class="twelve columns">
                            @foreach (var r in Model.FoodMatrixModels)
                            {
                                <p>@r.RawMaterial.StockItemName</p>
                                <div id="tableOrderDiv">
                                    @Html.Partial("_TableOrderFoodMatrix", r)
                                </div>
                                <br />
                                <hr />
                            }
                        </div>

                    </div>
                }
               
                </div>
            </div>
        </div>
    </div>
</div>

